.header_block {
  width: 100%;
  height: auto;
  background: #171d25;

  .nav_block {
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

    .left_block {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .center_block {
      width: 100%;

      .navigation_menu {
        display: flex;
        align-items: center;
        position: relative;

        .menu_item {
          position: relative;
          padding: 0px 16px;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica,
            sans-serif;
          :hover {
            text-shadow: 0 0 10px rgba(62, 103, 150, 0.919), 0 0 20px rgba(62, 103, 150, 0.919), 0 0 40px, 0 0 80px rgba(62, 103, 150, 0.919);
          }
          .link_item {
            color: #dcdedf;
            text-decoration: none;
          }

          &:hover a {
            color: #ffffff;
            text-decoration: underline;
            text-shadow: 0;
          }

          .dropdown_menu {
            min-width: 100px;
            display: none;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(35, 52, 73);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 10px;
            border-radius: 5px;
            z-index: 100;
          }

          &:hover .dropdown_menu {
            display: flex;
            box-shadow: 0px 0px 10px 1px rgba(62, 103, 150, 0.919);
            text-shadow: 0;
          }

          .dropdown_menu a {
            color: #dcdedf;
            text-decoration: none;
            padding: 8px 16px;
            font-size: 14px;
            white-space: nowrap;
            text-shadow: 0;
          }

          .dropdown_menu a:hover {
            background-color: #282c34;
            color: #00c3ff;
            border-radius: 3px;
            text-shadow: 0;
          }
        }
      }
    }

    .right_block {
      width: 100%;
      display: flex;
      justify-content: right;

      .login_block,
      .register_block,
      .local_block {
        padding: 0px 10px;
        display: flex;
        align-items: center;

        .login_btn,
        .register_btn {
          text-decoration: none;
          padding: 4px 14px;
          background-color: #1999ff;
          color: white;
          border-radius: 5px;
        }

        .login_btn:hover,
        .register_btn:hover {
          background-color: #1997ff8a;
          color: #b1b1b1;
        }
      }
    }
  }
}
